* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e1da;
  display: flex;
  align-items: center;
  justify-content: center;
}
