.chatContainer {
  border-radius: 0 10px 10px 0;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  background: #f5f7f8;
  height: 90vh;
  width: 90vw;

  @media (max-width: 768px) {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .header {
    display: flex;
    border-bottom: 1px solid #365e32;

    .item {
      flex: 1;
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 10px;
      margin: 5px;
      gap: 10px;

      @media (max-width: 768px) {
        padding: 5px;
        margin: 2px;
      }

      .img {
        width: 40px;
        height: 40px;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .name {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .info {
          display: flex;
          align-items: center;

          span {
            margin-right: 5px;
          }
        }

        .icons {
          display: flex;
          align-items: center;
          gap: 14px;
          cursor: pointer;

          .icon {
            &:hover {
              color: #1a5319;
            }
          }
        }
      }
    }
  }

  .main {
    padding: 5px;
    border-radius: 5px;
    margin: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;

    @media (max-width: 768px) {
      margin: 5px 5px 0 0;
      padding: 2px;
    }

    .message {
      padding: 10px;
      border-radius: 10px;
      max-width: 60%;
      margin: 5px 0;
      display: flex;
      flex-direction: column;

      &.user {
        background-color: #294b29;
        color: #f1f1f1;
        align-self: flex-end;
        border-top-right-radius: 0;
      }

      &.friend {
        background-color: #597445;
        color: #f1f1f1;
        align-self: flex-start;
        border-top-left-radius: 0;
      }
    }
    .messageimg {
      max-width: 25%;
      margin: 5px 0;
      align-self: flex-start; // Adjust alignment for images

      &.userimg {
        align-self: flex-end; // Align user's sent images to the right
      }
    }
  }

  .emojipicker {
    position: fixed;
    bottom: 65px;
    right: 70px;
    z-index: 1;
    @media (max-width: 768px) {
      right: 10px;
      bottom: 50px;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #b5d4ec;
    .previewimg {
      margin: 0 auto;
      max-width: 30%;
      border-radius: 5px;
      object-fit: contain;
      margin-left: 100px;
    }

    @media (max-width: 768px) {
      margin: 2px;
      gap: 5px;
    }

    .input {
      flex: 1;
      padding: 10px;
      border-radius: 5px;
      border: none;
      background: #8e3e63;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      color: #ecf0f3;
      font-size: 13px;
      @media (max-width: 768px) {
        padding: 5px;
        font-size: 12px;
      }
    }

    .sendItem {
      display: flex;
      gap: 10px;
      font-size: 16px;
      align-items: center;

      @media (max-width: 768px) {
        gap: 5px;
        font-size: 14px;
      }

      .icon {
        cursor: pointer;
        margin-left: 10px;

        &:hover {
          color: #03aed2;
        }
      }

      .inputfile {
        display: none;
      }
      .send {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px 20px 10px 20px;
        background: #8e3e63;
        border-radius: 5px;
        color: #ecf0f3;
        cursor: pointer;
        font-size: 13px;

        span {
          font-weight: bold;
        }

        &:hover {
          background: #ff7777;
        }
        @media (max-width: 768px) {
          padding: 5px 10px;
          font-size: 12px;
        }
      }
    }
  }
}
