@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.6 rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  user-select: none;
}

input {
  caret-color: red;
}
button,
input,
[tabindex] {
  border: none;
  outline: none;
}
a[href] {
  color: var(-text-color);
  text-decoration: none;
}
